{% extends "layouts/module_admin.html" %}

{% block module %}
{% block module_content %}
{% endblock module_content %}
<!-- Модальное окно результата callMethod-->
<div class="modal fade" id="resultModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Заголовок модального окна -->
        <div class="modal-header">
          <h4 class="modal-title" id="result_name">{{ _('Result')}}</h4>
        </div>
        
        <!-- Основное содержимое модального окна -->
        <div class="modal-body">
            <div id="result_data" style="white-space: pre-wrap;"></div>
        </div>
        
        <!-- Подвал модального окна с кнопками -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close')}}</button>
        </div>
        
      </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
socket.on('resultCallMethod', function(data) {
    console.log("resultCallMethod", data)
    var divName = document.querySelector('#result_name');
    divName.innerHTML = 'Result call method "'+data.name+'"';
    var divData = document.querySelector('#result_data');
    divData.innerHTML = data.data ? data.data : 'Empty' ;
    var myModal = new bootstrap.Modal(document.getElementById('resultModal'))
    myModal.show()
    
});

      // Функция для обновления времени на всех компонентах
      function updateAllTimes() {
        var timeComponents = document.querySelectorAll('.time-component'); // Находим все компоненты времени
    
        // Обновляем время на каждом компоненте
        timeComponents.forEach(function(component) {
          // Получаем текущее время
          var currentTime = new Date();
          // Получаем начальное время из атрибута data-start-time
          var startTime = new Date(component.dataset.startTime);
          // Вычисляем разницу между текущим временем и начальным временем
          var elapsedTime = currentTime - startTime;
          // Обновляем время на компоненте
          component.textContent = formatTimeDiff(elapsedTime);
        });
      }
    
      // Обновляем время каждую секунду
      setInterval(updateAllTimes, 1000);
    
      // Запускаем функцию для обновления времени при загрузке страницы
      updateAllTimes();

</script>
{% endblock javascripts %}