<div class="card mb-1 ml-2">
    <div class="card-header d-flex justify-content-between align-items-center py-1">
      <h5 class="mb-0 d-flex justify-content-start align-items-center w-100" data-bs-toggle="collapse" data-bs-target="#collapse{{ class.id }}" aria-expanded="true" aria-controls="collapse{{ class.id }}">
        <i class="fas fa-folder h3 mt-2"></i>
        <div class="px-3">
            {{ class.name }}
            <pre style="margin: 0px;color: #cacaca;">{%if class.description!=""%}{{class.description}}{%else%}Description is empty{%endif%}</pre>
        </div>
      </h5>
      <div class="btn-group" role="group">
            <a type="button" class="btn btn-outline-primary btn-sm" href="?view=class&class={{class.id}}" title="Edit"><i class="fas fa-pencil-alt"></i></a>
            <a type="button" class="btn btn-success btn-sm" href="?view=class&class={{class.id}}&tab=properties" title="Properties"><i class="feather icon-list"></i></a>
            <a type="button" class="btn btn-warning btn-sm" href="?view=class&class={{class.id}}&tab=methods" title="Methods"><i class="fas fa-cog"></i></a>
            <a type="button" class="btn btn-primary btn-sm" href="?view=class&class={{class.id}}&tab=objects" title="Objects"><i class="feather icon-grid"></i></a>
            {% if not class.objects and not class.children%}
            <a type="button" class="btn btn-danger btn-sm" href="?view=class&class={{class.id}}&op=delete" title="Delete"
            onClick="return confirm('Delete class {{class.name}}?')"><i class="feather icon-trash"></i></a>
            {%endif%}
      </div>
    </div>
    <div class="collapse" id="collapse{{ class.id }}">
      <div class="card-body px-2 py-2">
            {% for class in class.children %}
                {% include 'class_template.html' %}
            {% endfor %}
            {%if class.objects %}
            <ul class="list-group list-group-flush ps-2 mb-0 me-2">
                {% for obj in class.objects %}
                    {% include 'object_template.html' %}
                {% endfor %}
            </ul>
            {% else %}
            <p class="px-3 ml-2 mt-2">No objects of class "{{class.name}}({{class.description}})"</p>
            {% endif %}
      </div>
    </div>
</div>
