{% extends "admin.html" %}
{% from "macros/code_editor.html" import render_editor %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Objects">Objects</a></li>
{% if class %}
<li class="breadcrumb-item"><a href="Objects?view=class&class={{class.id}}&tab=methods">{{class.name}}</a></li>
{%endif%}
{% if object %}
<li class="breadcrumb-item"><a href="Objects?view=object&object={{object.id}}&tab=methods">{{object.name}}</a></li>
{% endif %}
{% endblock %}

{% block module_content %}

{% if form.errors %}
<div class="alert alert-warning mt-3">
    <ul>
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <li>{{field}}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
{% endif %}
{% if saved %}
<div class="alert alert-success mt-3">
    Method saved successfully!
</div>
{% endif %}
<form id="form" method="POST">
  <!-- Поля формы -->
  {{ form.hidden_tag() }}
  <input type="hidden" id="method" name="method" value="{{id}}">
  <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
  </div>
  <div class="mb-3">
      {{ form.description.label(class="form-label") }}
      {{ form.description(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.code.label(class="form-label") }}
    {{ render_editor(form.code, 'python')}}
 </div>
 <div class="mb-3">
    {{ form.call_parent.label(class="form-label me-2") }}
    {% for choice in form.call_parent %}
        <div class="form-check form-check-inline">
            {{ choice(class="form-check-input") }}
            <label class="form-check-label" for="{{ choice.id }}">{{ choice.label }}</label>
        </div>
    {% endfor %}
 </div>
{% if object %}
 <div class="row">
    <div class="col-auto mb-3">
        {{ form.periodic.label(class="form-label me-2") }}
        {{ form.periodic(class="form-check-input", id="checkbox", onclick="toggleHiddenField()") }}
    </div>
    <diw class="col-auto mb-3 d-none" id="hidden_field_wrapper">
        {{ form.crontab.label(class="form-label") }}
        {{ form.crontab(class="form-control") }}
    </div>
</div>
{%endif%}
 <!-- Кнопка отправки формы -->
  <button type="submit" class="btn btn-primary">Submit</button>
  {% if object %}
  <a href="?view=object&object={{object.id}}&tab=methods" class="btn btn-secondary">Cancel</a>
  <a href="#" class="btn btn-success" onClick="callMethodWithResult('{{object.name}}.{{form.name.data}}')" role="button">Run</a>
  {% else %}
  <a href="?view=class&class={{class.id}}&tab=methods" class="btn btn-secondary">Cancel</a>
  {% endif %}
</form>

{% if object %}
<div class="alert alert-info mt-3">
    <i class="fas fa-exclamation-circle me-3"></i>callMethod('{{object.name}}.{{form.name.data}}');
</div>
{%endif%}

<script>

function toggleHiddenField() {
    var checkbox = document.getElementById('checkbox');
    var hiddenField = document.getElementById('hidden_field_wrapper');
    if (checkbox.checked) {
        hiddenField.classList.remove('d-none');
    } else {
        hiddenField.classList.add('d-none');
    }
}

        // Ensure the field visibility is correct on page load if the checkbox is checked
document.addEventListener('DOMContentLoaded', function() {
  toggleHiddenField();
});
</script>

{% endblock %}