{% extends "admin.html" %}
{% from "macros/code_editor.html" import render_editor %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Objects">{{ _('Objects')}}</a></li>
<li class="breadcrumb-item"><a href="Objects?view=object&object={{object_id}}&tab={{tab}}">{{object_name}}</a></li>
{% endblock %}
{% block module %}

{% if form.errors %}
<div class="alert alert-warning mt-3">
    <ul>
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <li>{{field}}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
{% endif %}

<form id="form" method="POST">
    <!-- Поля формы -->
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <div class="mb-3">
            <label class="form-label">{{ _('Name') }}</label>
            {{ form.name(class="form-control") }}
        </div>
        <div>
            <label class="form-label">{{ _('Code') }}</label>
            {{ render_editor(form.code, 'python', object_name)}}
        </div>
        <div class="mb-3">
            <label class="form-label">{{ _('Runtime') }}</label>
            {{ form.runtime(class="form-control") }}
        </div>
        <div class="mb-3">
            <label class="form-label">{{ _('Cron') }}</label>
            {{ form.crontab(class="form-control") }}
        </div>
    </div>
    <!-- Кнопка отправки формы -->
    <button type="submit" class="btn btn-primary">{{ _('Submit')}}</button>
    <a href="Objects?view=object&object={{object_id}}&tab={{tab}}" class="btn btn-secondary">{{ _('Cancel')}}</a>
</form>
{% endblock %}