{% extends "admin.html" %}
{% from "macros/code_editor.html" import render_editor %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Objects">Objects</a></li>
{% if class %}
<li class="breadcrumb-item"><a href="Objects?view=class&class={{class.id}}&tab=objects">{{class.name}}</a></li>
{%endif%}
<li class="breadcrumb-item"><a href="Objects?view=object&object={{id}}">{{form.name.data}}</a></li>
{% endblock %}

{% block title %} {{form.name.data}} {% endblock %} 

{% block module_content %}
<div class="row">
<div class="col">
{% if form.errors %}
<div class="alert alert-warning mt-3">
    <ul>
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <li>{{field}}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
{% endif %}
{% if saved %}
<div class="alert alert-success mt-3">
    Object saved successfully!
</div>
{% endif %}
<!-- Подключение стилей Prism -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
<ul class="nav nav-tabs mb-3" id="configTabs" role="tablist">
    <li class="nav-item"><a class="nav-link tab-button{% if tab == ''%} active{%endif%}" href="#general" data-bs-toggle="tab" role="tab">General</a></li>
    <li class="nav-item">
        <button class="nav-link tab-button{% if tab == 'properties'%} active{%endif%}{% if not id %} disabled{%endif%}" href="#properties" data-bs-toggle="tab" role="tab">
            Properties <a href="?view=property&object={{id}}" class="btn btn-success btn-sm ms-2" title="App property"><i class="fas fa-plus"></i></a>
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link tab-button{% if tab == 'methods'%} active{%endif%}{% if not id %} disabled{%endif%}" href="#methods" data-bs-toggle="tab" role="tab">
            Methods <a href="?view=method&object={{id}}" class="btn btn-success btn-sm ms-2" title="Add method"><i class="fas fa-plus"></i></a>
        </a>
    </li>
    <li class="nav-item"><a class="nav-link tab-button{% if tab == 'template'%} active{%endif%}{% if not id %} disabled{%endif%}" href="#template_tab" data-bs-toggle="tab" role="tab">Template</a></li>
    <li class="nav-item"><a class="nav-link tab-button{% if tab == 'structure'%} active{%endif%}{% if not obj %} disabled{%endif%}" href="#object_tab" data-bs-toggle="tab" role="tab">Structure</a></li>
    <li class="nav-item"><a class="nav-link tab-button{% if tab == 'schedule'%} active{%endif%}{% if not obj %} disabled{%endif%}" href="#schedule_tab" data-bs-toggle="tab" role="tab">Schedules</a></li>
    <li class="nav-item flex-grow-1"> <!-- flex-grow-1 для заполнения промежутка -->
        <!-- Пустой элемент, чтобы создать промежуток -->
      </li>
    <li class="nav-item ml-auto"> <!-- Используем ml-auto для выравнивания последней вкладки справа -->
        <a class="nav-link tab-button" data-bs-toggle="tab" href="#tools">Tools</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade {% if tab == ''%}show active{%endif%}" id="general" role="tabpanel" aria-labelledby="general-tab">
        <form method="POST">
        <!-- Поля формы -->
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.class_id.label(class="form-label") }}
            {{ form.class_id(class="form-control") }}
        </div>
        <!-- Кнопка отправки формы -->
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="Objects" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    <div class="tab-pane fade {% if tab == 'properties'%}show active{%endif%}" id="properties" role="tabpanel" aria-labelledby="properties-tab">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for property in properties %}
                    <tr class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                        <th scope="row" width="1%" nowrap>{{ property.id }}</th>
                        <td width="10%">
                            {% if property.class_id %}<b>{% endif %}
                                {{ form.name.data }}.{{ property.name }}
                            {% if property.class_id %}</b>{% endif %}
                        </td>
                        <td width="10%">
                            {%if property.description%}<p style="color: gray;margin: 0px;">{{property.description}}</p>{%endif%}
                            {%if property.linked%}
                            <p style="color: gray;margin: 0px;">
                                ↳ {% for link in property.linked %}
                                <span class="badge bg-success">{{link}}</span>
                                {% endfor %}
                            </p>
                            {%endif%}
                            {%if property.history%}<p style="color: gray;margin: 0px;">↳ <a href="HistoryView?name={{property.name}}&object={{id}}" class="badge bg-warning text-dark">History: {{property.history}} days</a></p>{%endif%}
                            {%if property.method%}<p style="color: gray;margin: 0px;">↳ <span class="badge bg-primary">Method: {{property.method}}</span></p>{%endif%}
                            {% if property.jobs%}
                                {%for job in property.jobs%}
                                <p style="color: gray;margin: 0px;">
                                    ↳ <span class="badge bg-warning text-dark">Runtime: {{job.runtime}} 
                                    {%if job.crontab%}
                                        (Period: {{job.crontab}})
                                    {%endif%}
                                    </span>
                                    <a href="?view=schedule&object={{id}}&tab=properties&schedule={{job.id}}&op=delete" onClick="return confirm('Delete task?')" class="btn btn-tertiary btn-sm" role="button" title="Delete"><i class="fas fa-trash"></i></a>
                                </p>
                                {%endfor%}
                            {% endif%}
                        </td>
                        <td width="1%" nowrap>{{ property.type }}</td>
                        <td>
                            <div class="input-group">
                                <button class="btn btn-outline-secondary" type="button" onclick="openModal('{{form.name.data}}.{{property.name}}')"><i class="fas fa-edit mt-0"></i></button>
                                <textarea class="form-control" id="prop:{{form.name.data}}.{{property.name}}" rows="1" readonly>{{ property.value }}</textarea>
                            </div>
                            <p style="color: gray;margin: 0px;">
                                <span class="badge bg-secondary" id="prop_changed:{{form.name.data}}.{{property.name}}">{{property.changed}}</span>
                                <span class="badge bg-success" id="prop_source:{{form.name.data}}.{{property.name}}">{{property.source}}</span>
                            </p>
                        </td>
                        <td width="1%" nowrap>
                            {% if not property.class_id %}
                                <a href="?view=property&object={{id}}&property={{property.id}}&op=edit" class="btn btn-success btn-sm" role="button" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                <a href="?view=schedule&object={{id}}&property={{property.id}}&op=add" class="btn btn-secondary btn-sm" role="button"><i class="fa-solid fa-calendar-days me-2"></i>Add task</a>
                                <a href="?view=property&object={{id}}&property={{property.id}}&op=delete" onClick="return confirm('Delete record?')" class="btn btn-danger btn-sm" role="button" title="Delete"><i class="fas fa-trash"></i></a>
                            {%else%}
                                <a href="?view=schedule&object={{id}}&property={{property.id}}&op=add" class="btn btn-secondary btn-sm" role="button"><i class="fa-solid fa-calendar-days me-2"></i>Add task</a>
                                <a href="?view=property&object={{id}}&property={{property.id}}&op=redefine" class="btn btn-info btn-sm" role="button">Redefine</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="Objects" class="btn btn-secondary">Cancel</a>
    </div>
    <div class="tab-pane fade {% if tab == 'methods'%}show active{%endif%}" id="methods" role="tabpanel" aria-labelledby="methods-tab">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Executed</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for method in methods %}
                    <tr>
                        <th scope="row">{{ method.id }}</th>
                        <td style="white-space: nowrap;">
                            {% if method.class_id %}{{method.class_name}} -> <b>{% endif %}
                            {{ form.name.data }}.{{ method.name }}
                            {% if method.class_id %}</b>{% endif %}
                        </td>
                        <td style="white-space: nowrap;">
                            {{ method.description }}
                            {% if method.jobs%}
                                {%for job in method.jobs%}
                                <p style="color: gray;margin: 0px;">
                                    ↳ <span class="badge bg-warning text-dark">Runtime: {{job.runtime}} 
                                    {%if job.crontab%}
                                        (Period: {{job.crontab}})
                                    {%endif%}
                                    </span>
                                    <a href="?view=schedule&object={{id}}&tab=methods&schedule={{job.id}}&op=delete" onClick="return confirm('Delete task?')" class="btn btn-tertiary btn-sm" role="button" title="Delete"><i class="fas fa-trash"></i></a>
                                </p>
                                {%endfor%}
                            {% endif%}
                        </td>
                        <td>
                            {% if not method.redefined %}
                            <div>
                                <span class="badge bg-secondary" id="method_executed:{{form.name.data}}.{{method.name}}">{{method.executed}}</span>
                                <span class="badge bg-success" id="method_source:{{form.name.data}}.{{method.name}}">{{method.source}}</span>
                            </div>
                            <a class="btn btn-link p-0" data-bs-toggle="collapse" data-bs-target="#spoiler_info{{form.name.name}}{{method.name}}" aria-expanded="true" aria-controls="spoiler{{form.name.name}}{{method.name}}">
                                Info
                            </a>
                            <div id="spoiler_info{{form.name.name}}{{method.name}}" class="collapse hide ms-3">
                                <p style="color: gray;margin: 0px;">↳ Params: <span id="method_exec_params:{{form.name.data}}.{{method.name}}">{{method.exec_params}}</span></p>
                                <p style="color: gray;margin: 0px;">↳ Result: <span id="method_exec_result:{{form.name.data}}.{{method.name}}">{{method.exec_result}}</span></p>                
                            </div>
                            {%endif%}
                        </td>
                        <td style="white-space: nowrap;">
                            {% if method.class_id %}
                                {% if not method.redefined %}
                                <a href="?view=method&object={{id}}&method={{method.id}}&op=redefine" class="btn btn-info btn-sm" role="button">Redefine</a>
                                {%endif%}
                            {%else%}
                                <a href="?view=method&object={{id}}&method={{method.id}}&op=edit" class="btn btn-success btn-sm" role="button" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                <a href="?view=method&object={{id}}&method={{method.id}}&op=delete" onClick="return confirm('Delete record?')" class="btn btn-danger btn-sm" role="button" title="Delete"><i class="fas fa-trash"></i></a>
                            {% endif %}
                            {% if not method.redefined %}
                                <a href="?view=schedule&object={{id}}&method={{method.id}}&op=add" class="btn btn-secondary btn-sm" role="button"><i class="fa-solid fa-calendar-days me-2"></i>Add task</a>
                                <a href="#" class="btn btn-warning btn-sm" onClick="callMethodWithResult('{{form.name.data}}.{{method.name}}',)" role="button"><i class="fa-solid fa-gears me-2"></i>Run</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="resultCallMethod"></div>
        </div>
        <a href="Objects" class="btn btn-secondary">Cancel</a>
    </div>
    <div class="tab-pane fade {% if tab == 'template'%}show active{%endif%}" id="template_tab" role="tabpanel" aria-labelledby="template-tab">
        <form id="formTemplate" method="POST">
            <!-- Поля формы -->
            {{ form.hidden_tag() }}
            <div class="mb-3" hidden>
                {{ form.class_id.label(class="form-label") }}
                {{ form.class_id(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.template.label(class="form-label") }}
                {{ render_editor(form.template, 'html')}}
            </div>
            <!-- Кнопка отправки формы -->
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="Objects" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    {% if obj %}
    <div class="tab-pane fade {% if tab == 'structure'%} show active{%endif%}" id="object_tab" role="tabpanel" aria-labelledby="object-tab">
        <h5><b>{{ obj.name }}</b>: {{ obj.description }}</h5>
            <ul>
            <b>Properties</b>
            {% for key_prop, prop in obj.properties.items() %}
            <li>{{ prop.name }}: {{ prop.description }} = <span id="prop:{{obj.name}}.{{prop.name}}">{{prop.getValue()}}</span>
                {%if prop.linked%}
                    {% for link in prop.linked %}
                        <span class="badge bg-success">{{link}}</span>
                    {% endfor %}
                {%endif%}
                {% if prop.history > 0 %}
                    <a href="HistoryView?name={{prop.name}}&object={{id}}" class="badge bg-warning text-dark">History: {{prop.history}} days</a>
                {% endif %}
                {% if prop.method %}
                    <span class="badge bg-primary">{{prop.method}}</span>
                {% endif %}
                <span class="ms-1 badge bg-secondary" id="prop_changed:{{form.name.data}}.{{prop.name}}">{{prop.changed}}</span>
                <span class="ms-1 badge bg-success" id="prop_source:{{form.name.data}}.{{prop.name}}">{{prop.source}}</span>
            </li>
            {% endfor %}    
            </ul>
            <ul>
            <b>Methods</b>
            {% for key_meth, method in obj.methods.items() %}
            <li>{{ method.name }}: {{ method.description }} <a href="#" onclick="callMethodWithResult('{{obj.name}}.{{method.name}}')">Run</a>
                {% if method.methods %}
                <a class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#spoiler{{obj.name}}{{method.name}}" aria-expanded="true" aria-controls="spoiler{{obj.name}}{{method.name}}">
                    Code
                </a>
                <p style="color: gray;margin: 0px;">↳ Source: <span id="method_source:{{form.name.data}}.{{method.name}}">{{method.source}}</span></p>
                <p style="color: gray;margin: 0px;">↳ Executed: <span id="method_executed:{{form.name.data}}.{{method.name}}">{{method.executed}}</span></p>
                <p style="color: gray;margin: 0px;">↳ Params: <span id="method_exec_params:{{form.name.data}}.{{method.name}}">{{method.exec_params}}</span></p>
                <p style="color: gray;margin: 0px;">↳ Result: <span id="method_exec_result:{{form.name.data}}.{{method.name}}">{{method.exec_result}}</span></p>
                <div id="spoiler{{obj.name}}{{method.name}}" class="collapse hide ms-3" aria-labelledby="headingOne">
                    {% for item in method.methods %}
                        {%if item.class_id %}<b>{{item.owner}}</b>->{{item.name}}{%endif%}
                        {%if item.object_id %}{{ item.owner }}->{{item.name}}{%endif%}
                        <pre><code class="language-python">{{item.code}}</code></pre>
                    {% endfor %} 
                </div>
                {%endif%}
            </li>
            {% endfor %}    
            </ul>
    </div>
    {%endif%}
    <div class="tab-pane fade {% if tab == 'schedule'%}show active{%endif%}" id="schedule_tab" role="tabpanel" aria-labelledby="schedule-tab">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Cron</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in schedules %}
                    <tr class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                        <th scope="row">{{ schedule.id }}</th>
                        <td>
                            {{ schedule.name }}
                        </td>
                        <td>
                            {{ schedule.code }}
                        </td>
                        <td>
                            {{ schedule.runtime }}
                        </td>
                        <td>
                            {{ schedule.crontab }}
                        </td>
                        <td>
                            <a href="?view=schedule&object={{id}}&tab=schedule&schedule={{schedule.id}}&op=edit" class="btn btn-success btn-sm" role="button" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a href="?view=schedule&object={{id}}&tab=schedule&schedule={{schedule.id}}&op=delete" onClick="return confirm('Delete record?')" class="btn btn-danger btn-sm" role="button" title="Delete"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="Objects" class="btn btn-secondary">Cancel</a>
    </div>
    <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">
        <a href="../api/export/object/{{id}}" class="btn btn-primary btn-sm" role="button">Export object</a>
    </div>
</div>
</div>
{%if template!=''%}
<div class="col col-2">
<div class="card p-2" id="obj:{{form.name.data}}">
    {{template|safe}}
</div>
</div>
{%endif%}
</div>
<!-- Модальное окно нового значения-->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Заголовок модального окна -->
        <div class="modal-header">
          <h4 class="modal-title">Enter new value</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <!-- Основное содержимое модального окна -->
        <div class="modal-body">
          <textarea type="text" id="newValue" class="form-control" placeholder="Enter new value"></textarea>
        </div>
        
        <!-- Подвал модального окна с кнопками -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="saveButton">Save</button>
        </div>
        
      </div>
    </div>
</div>

<div class="modal fade" id="cronModal">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Заголовок модального окна -->
        <div class="modal-header">
          <h4 class="modal-title">Enter crontab</h4>
        </div>
        
        <!-- Основное содержимое модального окна -->
        <div class="modal-body">
          <h6 id="methodValue">Enter crontab</h6>
          <input type="text" id="cronValue" class="form-control" placeholder="Enter new value">
        </div>
        
        <!-- Подвал модального окна с кнопками -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="saveCronButton">Save</button>
        </div>
        
      </div>
    </div>
</div>

<script>
    var nameProperty = ""
    // Функция для открытия модального окна
    function openModal(name) {
        nameProperty = name
        var element = document.getElementById("prop:"+name);
        if (element) {
            document.getElementById("newValue").value = element.textContent;
        }
        $('#myModal').modal('show');
    }
    // JavaScript для обработки нажатия кнопки "Сохранить"
    document.getElementById("saveButton").addEventListener("click", function() {
        // Получаем значение из поля ввода
        var newValue = document.getElementById("newValue").value;
        // Выполняем функцию с новым значением
        setProperty(nameProperty,newValue)
        $('#myModal').modal('hide');
    });

    $(document).ready(function () {
        window.setTimeout(function() {
            $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
                $(this).remove(); 
            });
        }, 5000);
    });
</script>
<!-- Подключение скриптов Prism -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-python.min.js"></script>
{% endblock %}
