{% extends "admin.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Objects">{{ _('Objects')}}</a></li>
{% if class %}
<li class="breadcrumb-item"><a href="Objects?view=class&class={{class.id}}&tab=properties">{{class.name}}</a></li>
{%endif%}
{% if object %}
<li class="breadcrumb-item"><a href="Objects?view=class&object={{object.id}}&tab=properties">{{object.name}}</a></li>
{% endif %}
{% endblock %}

{% block module_content %}
{% if form.errors %}
<div class="alert alert-warning mt-3">
    <ul>
        {% for field, errors in form.errors.items() %}
        {% for error in errors %}
        <li>{{field}}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<form method="POST">
    <!-- Поля формы -->
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label class="form-label">{{ _('Name') }}</label>
        {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('Description') }}</label>
        {{ form.description(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('Method') }}</label>
        {{ form.method_id(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('History (days)') }}</label>
        {{ form.history(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ _('Type') }}</label>
        {{ form.type(class="form-control") }}
    </div>
    <!-- Кнопка отправки формы -->
    <button type="submit" class="btn btn-primary">{{ _('Submit')}}</button>
    {% if object %}
    <a href="?view=object&object={{object.id}}&tab=properties" class="btn btn-secondary">{{ _('Cancel')}}</a>
    {% else %}
    <a href="?view=class&class={{class.id}}&tab=properties" class="btn btn-secondary">{{ _('Cancel')}}</a>
    {% endif %}
</form>
{% endblock %}